<div class="row">
  <div class="col-sm-11">
     
    <app-cutom-input [items]="mainCategories" placeholder="Rechercher une category" (selectedChanges)="selectedCategory($event)"></app-cutom-input>

    <ng-container *ngIf="subCategories">
      <app-cutom-input [items]="subCategories" placeholder="Rechercher une sous category" (selectedChanges)="selectedSubCategory($event)"></app-cutom-input>
    </ng-container>

    <select [(ngModel)]="difficulty" id="difficultySelect">
      <option selected>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button [disabled]="!categorySelected || !difficulty || loading" class="primary" id="createBtn" (click)="createQuiz()">Create</button>
  
  </div>

</div>
<div class="row">
   <app-quiz (changeQuestion)="clickChangeQuestion($event)" [questions]="questions" [haveChangeQuestion]="haveChangeQuestion" ></app-quiz>
</div>
